body {
  font-size: 0.8em;
  font-family: 'Open Sans', 'PT Sans', Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 1.3em;
}

header h2 {
  font-size: 1.2em;
}

h1 {
  font-size: 1.6em;
}

code, kbd, pre, samp {
  font-family: Monaco ,'Source Code Pro', monospace, serif;
  line-height: 1.4em;
}
