@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400italic,500,600');

body {
  font-size: 1em;
  font-family: 'Source Sans Pro', 'PT Sans', Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 1.3em;
}

header h2 {
  font-size: 1.2em;
}

h1 {
  font-size: 1.6em;
}

code, kbd, pre, samp {
  font-family: Monaco ,'Source Code Pro', monospace, serif;
  line-height: 1.4em;
}
